.workout-card-container {
  display: flex;
  flex-direction: column;

  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 1rem 1rem 0 1rem;
  font-size: 0.8rem;
}

.workout-card--title {
  text-align: center;
  font-size: 1.2rem;
}

.workout-card--container {
  text-decoration: none;
}

.workout-card--container:link,
.workout-card--container:visited {
  color: #000;
}

.workout-card--container:hover,
.workout-card--container:active {
  color: #000;
}

.card-short-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  margin-top: 1rem;
}

.workout-details-img {
  margin: 0.5rem auto;
  max-height: 136px;
}

.workout-details-btn {
  background-color: var(--main-app-color);
  color: #eee;
  margin: 0.7rem auto;
}

.workout-details-btn:hover {
  background-color: var(--main-hovered-color);
}

.added-error {
  text-align: center;
  margin: 0.7rem auto;
  color: var(--main-app-color);
  font-weight: bold;
  font-size: 0.9rem;
}

.btn-added-err {
  display: none;
}
