:root {
  --footer-text-color: #444949;
  --footer-background-color: #81bcc0;
  --main-app-color: #3b6b3b;
  --main-hovered-color: #345234;
}

.workout-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 0;
}

.list-titles-container {
  margin: 5rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nutrition-list--title {
  color: #999;
  text-decoration: none;
}

.nutrition-list--title:hover {
  color: #000;
}

.main-list-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 2rem;

  width: 80%;
  margin: 0 auto;
}

.search-container {
  width: 80%;
  margin: 0 auto;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-top: 2rem;
  background-color: var(--footer-background-color);
  border-radius: 5px;
  padding: 0.7rem;
}

.filters-container h3 {
  text-align: center;
}

.muscles-title,
.equipment-title {
  margin-top: 0.5rem;
  padding: 1rem 0;
  border-top: 1px solid var(--footer-text-color);
}

.filters-container div {
  display: flex;
  justify-content: space-between;

  padding-left: 0.5rem;
  width: 75%;
}
