:root {
  --footer-text-color: #444949;
  --footer-background-color: #81bcc0;
  --main-app-color: #3b6b3b;
  --main-hovered-color: #345234;
  --main-text-color: #494949;
}

.nutrition-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 0;
}

.workout-list--title {
  text-align: center;
}

.list-titles-container {
  margin: 5rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.workouts-list {
  color: #999;
  text-decoration: none;
}

.workouts-list:hover {
  color: #000;
}
