:root {
  --main-text-color: #494949;
  --main-app-color: #3b6b3b;
  --main-hovered-color: #345234;
}

.card-container {
  border: 1px solid #aaa;
  padding: 1rem;
  font-size: 0.8rem;
  border-radius: 5px;
}

/* .workout-card--title {
  text-align: center;
  font-size: 1.2rem;
} */

.workout-card--container {
  text-decoration: none;
}

.workout-card--container:link,
.workout-card--container:visited {
  color: #000;
}

.workout-card--container:hover,
.workout-card--container:active {
  color: #000;
}

.card-short-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  margin-top: 1rem;
}

.nutr-img {
  width: 100px;
  height: 100px;
}

.nutrition-card {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.nutr-category {
  margin-top: 0.7rem;
}

.card-details span {
  margin-left: 0.5rem;
}

.description-shortening {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 25rem;
}

.btn-nutr-container {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.btn-add-diet:hover,
.btn-more-info:hover {
  cursor: pointer;
  background-color: #ddd;
}

.added-to-diet {
  text-align: center;
  margin-top: 1rem;
  color: var(--main-app-color);
  font-weight: bold;
  font-size: 0.9rem;
}
